<div class="container">
{{#each people}}
    <div class="people-list">
        
        {{!-- <span class="name"> <a href="/people/{{id}}"></a>{{name}}</span> --}}
        <a href="/people/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
        
    </div>
{{/each}}
    {{!-- <div class="people">
        
        <span class="name"> <a href="/people/{{id}}"></a>{{name}}</span>
        <a href="/people/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
       
    </div> --}}
  {{!-- show a row for each child of --}}
</div>